.page-background {
  content: "";
  display: block;
  inset: 0;
  bottom: unset;
  position: fixed;
  width: 100lvw;
  height: 100lvh;
  z-index: -1;
}

.background {
  background-color: var(--theme-background-color);
  background-image: var(--theme-background-image);
}

.default .background {
  background-size: cover;
}

.robinson .background {
  background-size: auto;
}

.idol .background {
  background-size: cover;
}

.melodifestivalen .background {
  background-size: cover;
  background-position-x: center;
}

.farmen .background {
  background-size: auto;
}

.förrädarna .background {
  background-size: auto;
  background-size: cover;
  background-position: center;

  /* background-color: #3f0707;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 1200'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(0,855,449)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%236c0606'/%3E%3Cstop offset='0.02' stop-color='%233F0707'/%3E%3Cstop offset='0.02' stop-color='%23850505'/%3E%3Cstop offset='0.032' stop-color='%233F0707'/%3E%3Cstop offset='0.032' stop-color='%23b40404'/%3E%3Cstop offset='0.056' stop-color='%233F0707'/%3E%3Cstop offset='0.056' stop-color='%239b0404'/%3E%3Cstop offset='0.07' stop-color='%233F0707'/%3E%3Cstop offset='0.07' stop-color='%235c0707'/%3E%3Cstop offset='0.1' stop-color='%233F0707'/%3E%3Cstop offset='0.1' stop-color='%237a0606'/%3E%3Cstop offset='0.126' stop-color='%233F0707'/%3E%3Cstop offset='0.126' stop-color='%237c0606'/%3E%3Cstop offset='0.142' stop-color='%233F0707'/%3E%3Cstop offset='0.142' stop-color='%23460707'/%3E%3Cstop offset='0.159' stop-color='%233F0707'/%3E%3Cstop offset='0.159' stop-color='%235e0404'/%3E%3Cstop offset='0.17' stop-color='%233F0707'/%3E%3Cstop offset='0.17' stop-color='%23a60505'/%3E%3Cstop offset='0.197' stop-color='%233F0707'/%3E%3Cstop offset='0.197' stop-color='%23420707'/%3E%3Cstop offset='0.218' stop-color='%233F0707'/%3E%3Cstop offset='0.218' stop-color='%23d60404'/%3E%3Cstop offset='0.239' stop-color='%233F0707'/%3E%3Cstop offset='0.239' stop-color='%23490505'/%3E%3Cstop offset='0.254' stop-color='%233F0707'/%3E%3Cstop offset='0.254' stop-color='%23950505'/%3E%3Cstop offset='0.283' stop-color='%233F0707'/%3E%3Cstop offset='0.283' stop-color='%23510707'/%3E%3Cstop offset='0.294' stop-color='%233F0707'/%3E%3Cstop offset='0.294' stop-color='%23700505'/%3E%3Cstop offset='0.305' stop-color='%233F0707'/%3E%3Cstop offset='0.305' stop-color='%237d0505'/%3E%3Cstop offset='0.332' stop-color='%233F0707'/%3E%3Cstop offset='0.332' stop-color='%234e0606'/%3E%3Cstop offset='0.346' stop-color='%233F0707'/%3E%3Cstop offset='0.346' stop-color='%23630606'/%3E%3Cstop offset='0.362' stop-color='%233F0707'/%3E%3Cstop offset='0.362' stop-color='%23a10404'/%3E%3Cstop offset='0.381' stop-color='%233F0707'/%3E%3Cstop offset='0.381' stop-color='%23700505'/%3E%3Cstop offset='0.415' stop-color='%233F0707'/%3E%3Cstop offset='0.415' stop-color='%239c0505'/%3E%3Cstop offset='0.428' stop-color='%233F0707'/%3E%3Cstop offset='0.428' stop-color='%236e0505'/%3E%3Cstop offset='0.442' stop-color='%233F0707'/%3E%3Cstop offset='0.442' stop-color='%236b0606'/%3E%3Cstop offset='0.456' stop-color='%233F0707'/%3E%3Cstop offset='0.456' stop-color='%23760404'/%3E%3Cstop offset='0.498' stop-color='%233F0707'/%3E%3Cstop offset='0.498' stop-color='%23590606'/%3E%3Cstop offset='0.511' stop-color='%233F0707'/%3E%3Cstop offset='0.511' stop-color='%23870505'/%3E%3Cstop offset='0.532' stop-color='%233F0707'/%3E%3Cstop offset='0.532' stop-color='%234d0606'/%3E%3Cstop offset='0.541' stop-color='%233F0707'/%3E%3Cstop offset='0.541' stop-color='%239a0505'/%3E%3Cstop offset='0.56' stop-color='%233F0707'/%3E%3Cstop offset='0.56' stop-color='%23670707'/%3E%3Cstop offset='0.581' stop-color='%233F0707'/%3E%3Cstop offset='0.581' stop-color='%23640606'/%3E%3Cstop offset='0.6' stop-color='%233F0707'/%3E%3Cstop offset='0.6' stop-color='%23690606'/%3E%3Cstop offset='0.618' stop-color='%233F0707'/%3E%3Cstop offset='0.618' stop-color='%23450707'/%3E%3Cstop offset='0.656' stop-color='%233F0707'/%3E%3Cstop offset='0.656' stop-color='%23a20404'/%3E%3Cstop offset='0.679' stop-color='%233F0707'/%3E%3Cstop offset='0.679' stop-color='%23c10505'/%3E%3Cstop offset='0.689' stop-color='%233F0707'/%3E%3Cstop offset='0.689' stop-color='%237c0606'/%3E%3Cstop offset='0.720' stop-color='%233F0707'/%3E%3Cstop offset='0.720' stop-color='%23440707'/%3E%3Cstop offset='0.734' stop-color='%233F0707'/%3E%3Cstop offset='0.734' stop-color='%236e0606'/%3E%3Cstop offset='0.748' stop-color='%233F0707'/%3E%3Cstop offset='0.748' stop-color='%23670707'/%3E%3Cstop offset='0.764' stop-color='%233F0707'/%3E%3Cstop offset='0.764' stop-color='%236d0606'/%3E%3Cstop offset='0.788' stop-color='%233F0707'/%3E%3Cstop offset='0.788' stop-color='%23920404'/%3E%3Cstop offset='0.808' stop-color='%233F0707'/%3E%3Cstop offset='0.808' stop-color='%234e0707'/%3E%3Cstop offset='0.831' stop-color='%233F0707'/%3E%3Cstop offset='0.831' stop-color='%23970606'/%3E%3Cstop offset='0.856' stop-color='%233F0707'/%3E%3Cstop offset='0.856' stop-color='%23440606'/%3E%3Cstop offset='0.872' stop-color='%233F0707'/%3E%3Cstop offset='0.872' stop-color='%23410707'/%3E%3Cstop offset='0.894' stop-color='%233F0707'/%3E%3Cstop offset='0.894' stop-color='%23b70404'/%3E%3Cstop offset='0.914' stop-color='%233F0707'/%3E%3Cstop offset='0.914' stop-color='%23470606'/%3E%3Cstop offset='0.942' stop-color='%233F0707'/%3E%3Cstop offset='0.942' stop-color='%234f0707'/%3E%3Cstop offset='0.957' stop-color='%233F0707'/%3E%3Cstop offset='0.957' stop-color='%23730606'/%3E%3Cstop offset='0.973' stop-color='%233F0707'/%3E%3Cstop offset='0.973' stop-color='%239d0505'/%3E%3Cstop offset='1' stop-color='%233F0707'/%3E%3Cstop offset='1' stop-color='%23890505'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' x='0' y='0' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  transform: rotate(90deg);
  width: 100%;
  height: 100vw; */
}

@media screen and (max-aspect-ratio: 3/4), screen and (max-width: 768px) {
  .förrädarna .background {
    background-image: url("../images/curtain1000x2000.png");
  }
}
