dialog {
  z-index: 100;
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--text-color);
  outline: none;
  border: none;
}

dialog h1 {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Sono", monospace;
  text-shadow: none;
  -webkit-box-reflect: unset;
}

dialog button {
  display: block;
  margin-left: auto;
  margin-bottom: 16px;
}

dialog .votes {
  flex-direction: row;
  flex-wrap: wrap;
}

dialog::backdrop {
  background: #00000070;
  backdrop-filter: blur(6px);
}

dialog picture ~ .votes {
  position: static;
}

dialog picture {
  display: block;
  max-width: 400px;
  margin: 0 auto;
}

.rounded dialog picture {
  --frame-size: 0px;
  max-width: 300px;
}
