.leaderboard-container {
  margin-top: 2rem;
  background: #00000059;
  padding: 1rem;
  border-radius: 0.5rem;

  backdrop-filter: blur(6px);
}

.leaderboard {
  margin: 1rem 0;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));

  --vote-size: 3rem;
}

.leaderboard-container h2 {
  text-align: center;
}

.leaderboard-container h3 {
  justify-content: center;
  font-size: 0.8rem;
}

.leaderboard > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.leaderboard > li .vote {
  flex-shrink: 0;
}

.leaderboard .stats {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: #202222;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: #00000096;
}

.leaderboard .trophies {
  font-size: 1rem;
  line-height: 1.2;
  position: relative;
  top: 2px;
}

.leaderboard .rank {
  display: none;
}

.leaderboard-info {
  margin: 2rem 0 1rem;
}
