@layer default, theme;

@import url("https://fonts.googleapis.com/css2?family=Sono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap");

@import "./votes.css";
@import "./leaderboard.css";
@import "./picture.css";
@import "./dialog.css";
@import "./emojis.css";
@import "./logo.css";
@import "./background.css";

@import "./theme.css" layer(theme);

@layer default {
  body,
  html,
  ul,
  ol,
  li {
    margin: 0;
    padding: 0;
  }

  * {
    box-sizing: border-box;
  }

  html {
    font-size: 24px;
  }

  @media screen and (max-width: 900px) {
    html {
      font-size: 16px;
    }
  }

  body {
    margin: 0 auto;
    max-width: min(100vw, 1200px);
    min-height: 100vh;
    padding: 2rem 1rem;
    font-family: "Sono", monospace;
    color: var(--text-color);
    background: var(--theme-background-color);

    /* enforce no content behind safe areas on iphone  */
    position: sticky;
  }

  main {
    width: 100%;
  }

  ul,
  ol {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    gap: 1rem 1rem;
    width: 100%;
  }

  li {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  h3 {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  header {
    text-align: center;
  }

  footer {
    width: 100%;
  }

  a,
  button {
    text-align: center;
    display: inline-block;
    border: none;
    padding: 0.5rem 0.5rem;
    background-color: #282828;
    border-radius: 0.5rem;
    font-family: inherit;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition:
      box-shadow 200ms ease-in-out,
      transform 200ms ease-in-out;
  }

  [data-live]::before {
    content: "LIVE";
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    background-color: red;
    color: white;
    font-size: 0.5rem;
    padding: 0.2rem 0.3rem;
    border-radius: 0.3rem;
  }

  a:focus-visible,
  button:focus-visible {
    outline: var(--text-color) dashed 3px;
    outline-offset: 3px;
  }

  a:hover,
  button:hover {
    box-shadow: 0px 6px 6px #00000061;
    transform: translate(0px, -6px);
  }

  .program h1 {
    font-size: 4rem;
    margin: 3rem 0;
  }

  .neon-sign {
    font-family: "Neonderthaw", cursive;
    font-weight: 100;
    line-height: 1;
    color: var(--text-color);
    text-shadow:
      0px 3px 0px rgb(255, 255, 255),
      0px 7px 10px #000000f2;
    -webkit-box-reflect: below -0.2em linear-gradient(#00000042, #00000036);
  }

  .theme-white .neon-sign {
    text-shadow:
      0px 3px 0px rgb(0, 0, 0),
      0px 7px 10px #fffffff2;
  }
}

* {
  user-select: none;
}
