.leaderboard-container {
  margin-top: 2rem;
  background: #00000059;
  padding: 1rem;
  border-radius: 0.5rem;

  backdrop-filter: blur(6px);
}

.leaderboard {
  margin: 1rem 0;
  --vote-size: 3rem;

  /* grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr)); */
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.leaderboard-container h2 {
  text-align: center;
}

.leaderboard > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.leaderboard > li .vote {
  flex-shrink: 0;
}

.leaderboard .stats {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: #202222;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: #00000096;
}

.votes {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  --vote-size: 3rem;
}

.vote {
  width: var(--vote-size);
  height: var(--vote-size);
  border-radius: 50%;
  font-size: 1.25rem;
  background-color: pink;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Sono", monospace;
  box-shadow: 0 0 6px rgb(0 0 0 / 25%);
}

.votes.animate .vote {
  animation-name: animateIn;
  animation-duration: 300ms;
  animation-delay: calc(var(--animation-order) * 100ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-play-state: paused;
}

.votes.enter .vote {
  animation-play-state: running;
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: translateY(calc(-1 * var(--vote-size)));
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.vote[data-primary="false"] {
  background: #282828 !important;
  color: white;
}

.vote[data-more] {
  background-color: #282828;
}

.vote {
  --color-h: calc(360 / 11);
  --color-s: 80%;
  --color-l: 55%;
  /* background-color: hsl(
    calc(var(--color-h) * var(--index)) var(--color-s) var(--color-l)
  ) !important; */
  /* background: radial-gradient(
    at right top,
    hsl(calc(var(--color-h) * var(--index) - 20) var(--color-s) var(--color-l)),
    hsl(calc(var(--color-h) * var(--index) + 20) var(--color-s) var(--color-l))
  ); */
  color: white;
}

.vote[data-name="AR"] {
  background-color: rgb(8, 170, 210);
  --index: 0;
}

.vote[data-name="ER"] {
  background-color: rgb(219, 219, 29);
  --index: 1;
}

.vote[data-name="FL"] {
  background-color: rgb(34, 59, 248);
  --index: 2;
}

.vote[data-name="JR"] {
  background-color: rgb(151, 28, 233);
  --index: 3;
}

.vote[data-name="LR"] {
  background-color: rgb(248, 155, 34);
  --index: 4;
}

.vote[data-name="MR"] {
  background-color: rgb(202, 7, 121);
  --index: 5;
}

.vote[data-name="RS"] {
  background-color: rgb(31, 194, 31);
  --index: 6;
}

.vote[data-name="OR"] {
  background-color: rgb(232, 49, 49);
  --index: 7;
}

.vote[data-name="GUEST"] {
  background-color: rgb(240, 126, 126);
  --index: 8;
}

.vote[data-name="AMS"] {
  background-color: rgb(242, 110, 52);
  --index: 9;
}

.vote[data-name="EMS"] {
  background-color: rgb(160, 174, 242);
  --index: 10;
}

.vote[data-name="ARL"] {
  background-color: rgb(146, 199, 96);
  --index: 11;
}
