.votes {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  --vote-size: 3rem;
}

.vote {
  width: var(--vote-size);
  height: var(--vote-size);
  border-radius: 50%;
  font-size: 1.25rem;
  background-color: pink;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Sono", monospace;
  box-shadow: 0 0 6px rgb(0 0 0 / 25%);
}

.votes.animate .vote {
  animation-name: animateIn;
  animation-duration: 300ms;
  animation-delay: calc(var(--animation-order) * 100ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-play-state: paused;
}

.votes.enter .vote {
  animation-play-state: running;
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: translateY(calc(-1 * var(--vote-size)));
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.vote {
  --color-h: calc(360 / 11);
  --color-s: 80%;
  --color-l: 55%;
  /* background-color: hsl(
    calc(var(--color-h) * var(--index)) var(--color-s) var(--color-l)
  ) !important; */
  /* background: radial-gradient(
    at right top,
    hsl(calc(var(--color-h) * var(--index) - 20) var(--color-s) var(--color-l)),
    hsl(calc(var(--color-h) * var(--index) + 20) var(--color-s) var(--color-l))
  ); */
  color: white;
  background-color: var(--vote-color);
}

.vote[data-primary="false"] {
  --vote-color: rgb(40, 40, 40) !important;
  color: white;
}

.vote[data-more] {
  --vote-color: rgb(40, 40, 40);
}

.vote[data-name="AR"] {
  --vote-color: rgb(8, 170, 210);
  --index: 0;
}

.vote[data-name="ER"] {
  --vote-color: rgb(219, 219, 29);
  --index: 1;
}

.vote[data-name="FL"] {
  --vote-color: rgb(34, 59, 248);
  --index: 2;
}

.vote[data-name="JR"] {
  --vote-color: rgb(151, 28, 233);
  --index: 3;
}

.vote[data-name="LR"] {
  --vote-color: rgb(248, 155, 34);
  --index: 4;
}

.vote[data-name="MR"] {
  --vote-color: rgb(202, 7, 121);
  --index: 5;
}

.vote[data-name="RS"] {
  --vote-color: rgb(31, 194, 31);
  --index: 6;
}

.vote[data-name="OR"] {
  --vote-color: rgb(232, 49, 49);
  --index: 7;
}

.vote[data-name="GUEST"] {
  --vote-color: rgb(240, 126, 126);
  --index: 8;
}

.vote[data-name="AMS"] {
  --vote-color: rgb(242, 110, 52);
  --index: 9;
}

.vote[data-name="EMS"] {
  --vote-color: rgb(160, 174, 242);
  --index: 10;
}

.vote[data-name="ARL"] {
  --vote-color: rgb(146, 199, 96);
  --index: 11;
}

#voting-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  gap: 1rem;

  background: #ffffff59;
  padding: 0.5em;
  border-radius: 0.5rem;
  backdrop-filter: blur(6px);
  z-index: 10;
}

.snap-hover img {
  outline: var(--text-color) dashed 3px;
  outline-offset: 3px;
}

.vote.draggable {
  --vote-size: 3rem;
  z-index: 1000;
}

.vote.saving {
  animation: savingAnimation 1s ease-in-out infinite;
}

@keyframes savingAnimation {
  0% {
    transform: scale(1);
    background-color: var(--vote-color);
  }
  50% {
    transform: scale(1.1);
    background-color: color-mix(in srgb, var(--vote-color) 50%, transparent);
  }
  100% {
    transform: scale(1);
    background-color: var(--vote-color);
  }
}
